<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Web Query Search</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <script>
    function retrieve() {
      $('.results').remove()
      $(".show-data").append("<br class=waiting> <p class=waiting> <b class=waiting> Waiting for results... </b></p>");

      var query = $('#search-query').val();
      var question = $('#question').val();
      var topk = $('#topk').val();

      $.ajax({
        url: "/retrieve",
        type: "GET",
        data: {
          query: query,
          question: question,
          topk: topk
        }
      }).done(function(response) {
          $('.waiting').remove()
          var html = "<br class=results><br class=results><br class=results><p class=results> <b class=results> Most Relevant Passages: </b></p>";
          response = response.result;
          $.each(response, function(key, val){
              html+="<p class=results>"+val+"</p>"
          });
          html += "<br class=results>";
          $(".show-data").append(html);
      });
    };

    function index() {
      $('.results').remove()
      $(".show-data").append("<br class=waiting> <p class=waiting> <b class=waiting> Waiting for results... </b></p>");
      var query = $('#index-search-query').val();

      $.ajax({
        url: "/index",
        type: "POST",
        data: {
          query: query
        }
      }).done(function(response) {
          $('.waiting').remove()
          var html = "<br class=results><br class=results><br class=results><p class=results> <b class=results> Indexing complete. </b></p>";
          $(".show-data").append(html);
      });
    };
  </script>
  <body>
      <h1>Retrieve relevant passages to the question from Wikipedia</h1>
      <p>
              Wikipedia Search Query: <input type="text" id="search-query" name="search-query"><br><br>
              Question: <input type="text" id="question" name="question"><br><br>
              Number of Passages to Display: <input type="int" id="topk" name="topk"><br><br>
              <button id="retrieve-but" onclick="retrieve()">Submit</button>
      </p>
      <h1>Index a Wikipedia page</h1>
      <p>
          Index a wikipedia page <br><br>
              Wikipedia Search Query: <input type="text" id="index-search-query" name="index-search-query"><br><br>
              <button id="index-but" onclick="index()">Submit</button>
      </p>
      <div class="show-data" >
      </div>
  </body>
</html>
